---
import ResumeExperience from "@/components/ResumeExperience.astro";
import ResumeSkills from "@/components/ResumeSkills.astro";
import Layout from "../layouts/Layout.astro";
import "../styles/resume.css";
---

<Layout title="Charlye Castro | Resume" description="View My Full Resume" url="https://www.charlyecastro.com/resume">
  <div id="resume" class="max-w-[800px] mx-auto p-10 border rounded-md mb-4">
    <header class="text-center">
      <h1 class="text-3xl font-bold">Charlye Castro</h1>
      <p class="text-xl font-medium text-secondary-foreground">
        Software Engineer
      </p>
      <p class="text-sm text-gray-500">
        Seattle, WA | <a href="mailto:charlyecastro@gmail.com"
          >charlyecastro@gmail.com</a
        > | <a href="https://linkedin.com/in/charlyecastro/" target="_blank"
          >linkedin.com/in/charlyecastro/</a
        > | <a href="/" target="_blank">charlyecastro.com</a>
      </p>
    </header>

    <hr class="border-gray-200 my-3" />

    <section>
      <h2 class="text-xl font-semibold">Education</h2>
      <ResumeExperience
        company="University of Washington"
        location="Seattle, WA"
        position="Bachelor of Science in Informatics"
        date="Sept 2015 - June 2019"
        bullets={[]}
      />
    </section>

    <hr class="border-gray-200 my-3" />

    <section>
      <h2 class="text-xl font-semibold">Experience</h2>
      <div class="flex flex-col gap-2">
        <ResumeExperience
          company="GoodRx"
          location="Seattle, WA"
          position="Software Engineer III"
          date="Oct 2023 - Present"
          bullets={[
            "Migrated web components & pages to optimized Next.js monorepo, improving performance & maintenance",
            "Implemented GraphQL queries & mutations within a modern repo, enhancing data integrity & performance",
            "Developed & launched new web features for partner brand drugs, increasing user access to deals & offers",
            "Contributed to the consolidation of the authentication experience across all apps, simplifying user access",
          ]}
        />
        <ResumeExperience
          company="GoodRx"
          location="Seattle, WA"
          position="Software Engineer II"
          date="Apiril 2022 - Oct 2023"
          bullets={[
            "Launched onboarding/enrollment features across iOS, Android & Web, driving significant account growth",
            "Engineered dynamic deep links and reusable web components, driving substantial mobile app install growth",
            "Deployed numerous A/B tests across platforms, utilizing Segment analytics to measure feature performance",
          ]}
        />
        <ResumeExperience
          company="Microsoft"
          location="Redmond, WA"
          position="Software Engineer In Test - Contract"
          date="Oct 2020 - April 2022"
          bullets={[
            "Developed a multi-platform test framework that was utilized across multiple internal products",
            "Maintained and implemented software tests and pipelines that ensured 99% reliability every 24 hours",
            "Collaborated with multiple teams to build out testing plans and resolved important product test issues",
            "Onboard developers on to the framework by conducting meetings, demos and 1 on 1 collaboration sessions",
          ]}
        />
        <ResumeExperience
          company="Recon Dynamics"
          location="Seattle, WA"
          position="Mobile Developer - Contract"
          date="June 2020 - Oct 2020"
          bullets={[
            "Improved the experience and versatility of an asset tracking mobile application used for construction jobs",
            "Built offline sync to complete uploads once connection is restored, increasing the productivity of clients",
            "Redesigned the app to be responsive for any device, increasing client base and improving user experience",
          ]}
        />
        <ResumeExperience
          company="Limeade"
          location="Bellevue, WA"
          position="Mobile Development Intern"
          date="Juney 2019 - Sept 2020"
          bullets={[
            "Delivered UX/UI improvements for Android and iOS apps, enhancing the experience of over 1 million users",
            "Implemented Single Sign-On and a friendly survey UI, thus speeding up the experience and task completion",
            "Preserved excellent code quality by contributing to code reviews, writing tests and resolving product bugs",
          ]}
        />
      </div>
    </section>

    <hr class="border-gray-200 my-3" />

    <section>
      <h2 class="text-xl font-semibold">Skills</h2>
      <ResumeSkills
        skills={[
          "Typescript",
          "React",
          "Next",
          "Astro",
          "Node",
          "GraphQL",
          "Python",
          "Go",
          "Java",
          "SQL",
          "NoSQL",
          "Selenium",
          "Docker",
          "AWS",
          "Contentful",
          "Tailwinds",
          "Git",
          "HTML",
          "CSS",
          "JS",
          "Jest",
          "Kotlin",
          "Swift",
          "React Native",
          "Linux",
          "PNPM",
        ]}
      />
    </section>
  </div>
</Layout>
