---
import Socials from "@/components/Socials";
---

<footer class="w-full p-4 bg-secondary">
  <div
    class="container mx-auto! px-4! flex flex-col-reverse sm:flex-row gap-4 justify-center items-center sm:justify-between"
  >
    <div class="flex flex-col gap-1">
      <p class="text-xs font-medium leading-none text-muted-foreground">
        ©2025 CHARLYE CASTRO
      </p>
      <p class="text-xs block: sm:hidden leading-none text-muted-foreground">
        Designed & Built By Charlye
      </p>
    </div>
    <p class="text-xs leading-none hidden sm:block text-muted-foreground">
      Designed & Built By Charlye
    </p>
    <Socials iconSize={16} iconClass="text-muted-foreground" />
  </div>
</footer>
