---
import { Instagram, Github, Linkedin, Mail, ChevronDown } from "lucide-react";
---

<section
  id="home"
  class="w-full h-screen flex flex-col justify-center items-center gap-30"
>
  <div
    class="w-full flex flex-col justify-center items-center gap-4 max-w-[400px] text-center"
  >
    <h4 class="text-xl font-semibold tracking-tight">SOFTWARE ENGINEER</h4>
    <h1 class="font-extrabold tracking-tight text-5xl">Charlye Castro</h1>
    <p class="text-xl text-muted-foreground">
      Full Stack Software Engineer @ GoodRx and based in Seattle, Washington
    </p>
    <div class="flex gap-2">
      <a href="" class="hover:text-muted-foreground">
        <Instagram />
      </a>
      <a
        href="https://github.com/charlyecastro"
        class="hover:text-muted-foreground"
      >
        <Github />
      </a>
      <a
        href="https://www.linkedin.com/in/charlyecastro/"
        class="hover:text-muted-foreground"
      >
        <Linkedin />
      </a>
      <a
        href="mailto:charlyecastro@gmail.com"
        class="hover:text-muted-foreground"
      >
        <Mail />
      </a>
    </div>
  </div>
  <a href="#work" class="hover:text-muted-foreground"><ChevronDown /></a>
</section>
