---
import Experience from "./Experience.astro";
import gdrx from "../assets/gdrx-logo.png";
import limeade from "../assets/limeade-logo.png";
import microsoft from "../assets/microsoft-logo.png";
import recon from "../assets/recon-logo.png";
import { ArrowUpRight } from "lucide-react";
---

<section
  id="work"
  class="w-full h-[90vh] flex flex-col justify-center items-center gap-5 sm:gap-10"
>
  <h2 class="text-3xl font-semibold tracking-tight">Work History</h2>
  <div class="flex flex-col gap-5">
    <Experience
      title="Software Engineer @ GoodRx"
      date="April 2022 - Present"
      logo={gdrx}
      alt="GoodRx Logo"
      url="https://goodrx.com"
      tools={["Typescript", "React", "GraphQL", "Storybook"]}
    />
    <Experience
      title="Software Engineer In Test @ Microsoft"
      date="Oct 2020 - April 2022"
      logo={microsoft}
      alt="Microsoft Logo"
      url="https://www.microsoft.com/en-us/"
      tools={["Typescript", "React", "Python", "Selenium"]}
    />
    <Experience
      title="Software Engineer @ Recon Dynamics"
      date="June 2020 - Oct 2020"
      logo={recon}
      alt="Recon Dynamics Logo"
      url="https://www.recondynamics.com/"
      tools={["Javascript", "React Native", "iOS", "Android"]}
    />
    <Experience
      title="Mobile Development Intern @ Limeade"
      date="June 2019 - Sept 2019"
      logo={limeade}
      alt="Limeade Logo"
      url="https://www.limeade.com/limeade-webmd-health-services/"
      tools={["Swift", "Kotlin", "iOS", "Android"]}
    />
  </div>
  <a href="/resume" class="hover:text-muted-foreground hidden md:block">
    <span>View Full Resume <ArrowUpRight className="inline" /></span>
  </a>
  <a
    href="/charlye-castro-resume.pdf"
    target="_blank"
    class="hover:text-muted-foreground block md:hidden"
  >
    <span>View Full Resume <ArrowUpRight className="inline" /></span>
  </a>
</section>
